.navbar{
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
  }
  
.navbar-scrolled {
    background-color: #8fb0c5 !important;
  }

  .text-decoration-none a{
    text-decoration:none;
    font-size: x-large;
    font-weight: 500;
  }